.container {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 30vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.delete-btn {
    background-color:azure;
    border: none;
}
